html
  head
    title= title
    link(rel='stylesheet', href='style.css')
  body
  header
    h1= message
  form(action="/upload" method="post" enctype="multipart/form-data")
    input(type="file" id="file" name="myFile" value="file")
    input(type="submit" class="button" id="upload" value="upload")
  div(class='content')
    each photo in url
      img(src= photo)
  script(src="index.js")

